@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" ;

@plugin "daisyui/theme" {
  name: "my-light";
  default: ;
  --color-primary: #042A2B;
  --color-secondary: #f7ce3e;
}

body{
    font-family: "Outfit", sans-serif;
}
.logo-font{
  font-family: "Space Grotesk", sans-serif;
}

.bg-color{
  background-color: #042A2B;
}


.bg2-color{
  background-color: #f7ce3e;
}